.login {
  padding: 15px;
  margin-top: 300px;
  justify-content: space-between;
  align-items: center;
}

.text_login {
  margin-bottom: 20px;
  text-align: center;
}

.button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 40%;
  margin-top: 10px;
  cursor: pointer;
}
