.buttonPost {
  margin-top: 30px;
  height: 40px;
  width: 130px;
  cursor: pointer;
}

.containerList {
  box-sizing: border-box;
}

.app {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Для мобильных */
@media (max-width: 768px) {
  .app {
    width: 100%;
    padding: 0 10px;
  }
}