.drop {
  margin-top: 30px;
  background-color: rgba(190, 190, 190, 0.363);
  padding: 10px;
  border-radius: 20px;
  max-width: 40%;
  margin-left: 30px;
}

.save_text {
  text-align: center;
  margin: 20px;
  color: rgb(0, 0, 0);
}
