.drop {
  /* margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  margin-left: 30px; */
  background-color: rgba(190, 190, 190, 0.363);
  max-width: 65%;
  margin-top: 30px;
  border-radius: 20px;

}

.save_text {
  max-width: 40%;
  text-align: center;
  margin: 20px;
  color: rgb(0, 0, 0);
}
