.form {
  width: 100%;
  padding: 7px 15px;
  margin: 5px 0;
  border: 1px solid rgba(62, 24, 87, 0.932);
  border-radius: 4px;
}
.myButton {
  padding: 5px 10px;
  border: 1px solid rgba(62, 24, 87, 0.932);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 30%;
  height: 2%;
}
