.item {
  display: flex;
  padding: 15px;
  margin-top: 70px;
  border: solid 2px black;
  border-radius: 20px;
  background-color: rgba(226, 226, 226, 0.5);
  cursor: grab; /* Рука при наведении */
}
.item:hover {
  transform: translateY(-2px) scale(1.08); /* Поднимает и увеличивает */
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.15); /* Усиливает тень */
  transition: transform 0.3s;
}
.item:active {
  cursor: grabbing;
}
.post {
  overflow-wrap: break-word;
  width: 85%;
  text-align: left;
}

.title {
  max-width: 90%;
}
.buttonChange {
  cursor: pointer;
  color: rgb(153, 114, 9);
  padding: 0 7px;
  font-size: 45px;
  transition: transform 0.3s;
}

.deletePost {
  cursor: pointer;
  color: rgb(209, 21, 21);
  padding: 0 7px;
  font-size: 45px;
  transition: transform 0.3s;
}
.OpenPost {
  cursor: pointer;
  color: rgb(2, 102, 24);
  padding: 0 7px;
  font-size: 45px;
  transition: transform 0.3s;
}

.OpenPost:hover,
.buttonChange:hover,
.deletePost:hover {
  cursor: pointer;
  transform: scale(1.6);
}

.buttonChange:hover {
  color: rgb(255, 197, 39);
}

.deletePost:hover {
  color: red;
}
.OpenPost:hover {
  color: rgb(10, 192, 49);
}

.numberPost {
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.781);
  border-radius: 10px;
  padding-left: 5px;
  padding-bottom: 3px;
  max-inline-size: 60px;
}

.savedPost {
  display: flex;
  padding: 15px;
  margin-top: 70px;
  border: solid 2px black;
  border-radius: 20px;
  cursor: default;
}
