* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}


.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid rgb(71, 2, 2);
  cursor: pointer;
}

.page__current {
  background-color: rgba(102, 102, 102, 0.315);
  border: 2px solid rgb(71, 2, 2);
  font-weight: bold;
}