* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 80%;
}

.spisok {
  text-align: right;
  margin: 20px;
  color: aqua;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid rgb(255, 0, 0);
  cursor: pointer;
}

.page__current {
  border: 2px solid white;
  font-weight: bold;
}
