.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: rgba(14, 14, 14, 0.822);
}

.navbar__links {
  margin-left: auto;
  font-size: 21px;
}

.post {
  color: white;
  transition: color 0.2s ease;
}

.about {
  padding: 20px;
  color: white;
  transition: color 0.2s ease;
}

.about:hover,
.post:hover {
  color: blue;
}
